*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.section1{
    background-image: url(../assets/backgrounds/h_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 20%;
    
}
.container{
    text-align: center;
    color: white;    
}
#logo{
    padding-bottom: 35px;
}
#h1{
    padding-bottom: 35px;
}

#p1{
    padding-bottom: 45px;
    
}
#click{
    padding-bottom: 30px;
}
/*section2 */
.section2container{
    text-align: center;
    padding: 30px 30px 30px 30px;  
    width: 190vh;
    
}
/*.section3container{
  
    text-align: center;
    color: white;

 
}*/


.section3{
    background-image: url(../assets/backgrounds/s_image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-right: 10%;
    padding-left: 10%;
}
/*Ssection4*/
.section4container{
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 15%;
    padding-top: 30px;
}
#h3{
    text-align: center;
    padding-top: 20px;
    font-size: bold;
}
.containersection5{
   text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 30px;
    
}
#img1{
    padding-left: 10px;
}
/*contact us section*/
.section6{
    background-image: url(../assets/backgrounds/c_image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 30%;
    color: white;
    margin-top: 40px;
    margin-bottom: 40px;
    
}


#email{
    border: 1px solid white;
    background: #565352;
    color: white;
    padding-left: 20%;
    margin-left: 1%;
}
#name{
    border: 1px solid white;
    background: #565352;
    color: white;
    padding-left: 20%;
    margin-left: 5%;
}
#message{
    border: 1px solid white;
    background: #565352;
    color: white;
    padding-left: 20%;
    padding-bottom: 10%;
    text-align: center;
    margin-left: 25%;
   
}
#sub{
    background: #565352;
}

.section6 h2{
    text-align: center;
    padding-top: 40px;
}
.section7{
    text-align: center;
}
#copyright{
    text-align: center;
    padding-top: 15px;

}
#button1{
    border: none;
}
#button2{
    border: none;
}
#button3{
    border: none;
}

