*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.section1{
    background-image: url(../assets/backgrounds/h_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 20%;
    
}
.container{
    text-align: center;
    color: white;    
}
#logo{
    padding-bottom: 35px;
}
#h1{
    padding-bottom: 35px;
}

#p1{
    padding-bottom: 45px;
    
}
#click{
    padding-bottom: 30px;
}